<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Api page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consumo API</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <li ion-item *ngFor="let arrayPost of arrayPosts">
      <ion-item>
        {{arrayPost.id}}      
        {{arrayPost.name}}
      </ion-item>
    </li>
    </ion-list>
  </div>
</ion-content>
<!-- link de API: https://jsonplaceholder.typicode.com/users-->
