<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listar Citas Medicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Lista de citas
    </ion-list-header>

    <ion-item *ngFor="let cita of citasMed | async">
      <ion-avatar slot="start">
        <ion-icon name="man-outline"></ion-icon>
      </ion-avatar>
      <ion-label >
        <h2>{{cita.nombrePaciente}}</h2>
        <h3>{{cita.correo}}</h3>
        <p>{{cita.sintomas}}</p>
      </ion-label>
    </ion-item>
   
  </ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button (click)="nuevoContacto()">
  <ion-icon name="arrow-forward-circle"> </ion-icon>
</ion-fab-button>

</ion-fab>

</ion-content>
