<ion-header>
  <ion-toolbar class="ion-no-border" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Bienvenido Usuario</ion-card-title>
        <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

  <div class="list-group">
    <div class="d-flex w-100 justify-content-between">
      <ion-list>
        <ion-list-header>
          Citas medicas pendientes
        </ion-list-header>

        <ion-card *ngFor="let cita of citas | async">
          <ion-card-content (click)="detalleContacto(medico)">
            <ion-img src="{{cita.medico.foto}}"  height='60' width='120'></ion-img>

            <div class="card-title">Nombre: {{cita.fecha}} </div>
            <div class="card-subtitle">Medico: {{cita.medico.nombre}} {{cita.medico.apellido}}</div>
            <div class="card-subtitle">Hora: {{cita.hora}}</div>
            <div class="card-subtitle">Estado: {{cita.estado}}</div>

        </ion-card-content>



        </ion-card>
      </ion-list>


    </div>

  </div>
  
  
  <div class="list-group">
    <div class="d-flex w-100 justify-content-between">
      <ion-list>
        <ion-list-header>
         Citas medicas aprobadas
        </ion-list-header>

        <ion-card *ngFor="let citaAprovada of citasAprovadas | async">
          <ion-card-content (click)="detalleContacto(medico)">
            <ion-img src="{{citaAprovada.medico.foto}}"  height='60' width='120'></ion-img>

            <div class="card-title">Nombre: {{citaAprovada.fecha}} </div>
            <div class="card-subtitle">Medico: {{citaAprovada.medico.nombre}} {{citaAprovada.medico.apellido}}</div>
            <div class="card-subtitle">Hora: {{citaAprovada.hora}}</div>
            <div class="card-subtitle">Estado: {{citaAprovada.estado}}</div>

        </ion-card-content>
      

        </ion-card>
      </ion-list>


    </div>

  </div>

    
  <div class="list-group">
    <div class="d-flex w-100 justify-content-between">
      <ion-list>
        <ion-list-header>
         Citas medicas rechasadas
        </ion-list-header>
       <div *ngIf="citasRechasadas==0">
         <h2>No tiene citas pendientes</h2>

       </div>
        <ion-card *ngFor="let citaRechazada of citasRechasadas | async">
          <ion-card-content >
            <ion-img src="{{citaRechazada.pasop.medico.foto}}"  height='60' width='120'></ion-img>

            <div class="card-title">Nombre: {{citaRechazada.pasop.fecha}} </div>
            <div class="card-subtitle">Medico: {{citaRechazada.pasop.medico.nombre}} {{citaRechazada.pasop.medico.apellido}}</div>
            <div class="card-subtitle">Hora: {{citaRechazada.pasop.hora}}</div>
            <div class="card-subtitle">Estado: {{citaRechazada.pasop.estado}}</div>

        </ion-card-content>
      

        </ion-card>

      
      </ion-list>


    </div>

  </div>

</ion-content>
