<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title ><ion-icon name="information-outline"></ion-icon>Medicos-Especialidad</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngFor="let medi of medicos | async">
    <ion-text color="primary">
      <ion-img src="{{medi.foto}}" height='60' width='60' style="align-items: center" class="center"></ion-img>
      <h6><b>Nombre del medico:{{medi.nombre}}</b></h6>
      <h6>Apellido del medico:{{medi.apellido}}</h6>
      <h6>Email del medico:{{medi.email}}</h6>
      <h6>Especialidades:{{medi.especialidad}}</h6>
    </ion-text>
  </ion-item>
</ion-content>
