<ion-header>
  <ion-toolbar class="ion-no-border" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Bienvenido Usuario</ion-card-title>
        <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

  <div class="list-group">
    <div class="d-flex w-100 justify-content-between">
      <ion-list>
        <ion-list-header>
          Recetas
        </ion-list-header>

        <ion-card *ngFor="let cita of recetaMedica | async">
            
          <ion-card-content (click)="detalleContacto(medico)">
            <ion-img src="{{cita.medipaci.medico.foto}}"  height='60' width='120'></ion-img>
           <h2>El medico: </h2>
            <div class="card-title">{{cita.medipaci.medico.nombre}}{{cita.medipaci.medico.apellido}} </div>
            <h2>Le diagnostico</h2>
            <div class="card-title"> {{cita.diagnostico}} </div>
            <div class="card-subtitle">En la fecha: {{cita.fecha}} </div>
            <h2>Le receto</h2>
            <div class="card-subtitle">Hora: {{cita.medicamento}}</div>
            <div class="card-subtitle">Rp: {{cita.rp}}</div>

        </ion-card-content>
      
        </ion-card>
       
      </ion-list>


    </div>

  </div>
  

</ion-content>
