<ion-header class="ion-no-border">



</ion-header>
<ion-content class="ion-padding">
    <div class="registro">

        <div class="buttom-action">

            <ion-button slot="end" fill="clear" routerLink="/inicio-admin" color="dark" size="small">
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </div>

        <ion-item transparent>
            <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.cedula" placeholder="Cédula" type="number"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.nombre" placeholder="Nombres" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.apellido" placeholder="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-input [(ngModel)]="medico.fechaNac" type="date"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon slot="start" icon-small name="call-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.telefono" placeholder="Teléfono" type="number"></ion-input>
        </ion-item>

        <ion-item transparent>
            <ion-icon slot="start" icon-small name="bookmarks-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.especialidad" placeholder="Especialidad" type="text"></ion-input>
        </ion-item>

        <ion-item transparent>
            <ion-icon slot="start" icon-small name="clipboard-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.descripcion" placeholder="Descripcion" type="text"></ion-input>
        </ion-item>

        <ion-item transparent>
            <ion-icon slot="start" icon-small name="camera-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.foto" placeholder="Foto" type="text"></ion-input>
        </ion-item>


        <ion-label>Direccion</ion-label>

        <div>

            <agm-map [latitude]="lat" [longitude]="lng" (centerChange)="setNewLocation($event)">
                <agm-marker [latitude]="newLocation.latitude" [longitude]="newLocation.longitude"
                    [iconUrl]="'https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/48/Map-Marker-Ball-Azure.png'">
                    <agm-info-window>{{newLocation.address}}</agm-info-window>
                </agm-marker>

            </agm-map>

        </div>
        <ion-item transparent>
            <ion-icon slot="start" icon-small name="mail-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.email" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon slot="start" icon-small name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="medico.contrasena" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon slot="start" icon-small name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Repetir contraseña" type="password"></ion-input>
        </ion-item>
        <div linespace></div>

        &nbsp;
        &nbsp;

        <ion-button (click)="registrarDos(newLocation)" color="primary" class="ion-buttom-class" shape="round"
            fill="solid" size="small" expand="block">Registrar</ion-button>
    </div>
</ion-content>