<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Receta Medica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Lista de Recetas
    </ion-list-header>

    <ion-item *ngFor="let receta of recetaMed | async">
      <ion-avatar slot="start">
        <ion-icon name="bandage-outline"></ion-icon>
      </ion-avatar>
      <ion-label (click)="editarContactoById(contacto.uid)">
        <h2>{{receta.nombre}}</h2>
        <h3>{{receta.correo}}</h3>
        <p>{{receta.talla}}</p>
        <p>{{receta.peso}}</p>
        <p>{{receta.rp}}</p>
        <p>{{receta.diagnostico}}</p>
      </ion-label>
    </ion-item>
   
  </ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button (click)="nuevoContacto()">
  <ion-icon name="arrow-forward-circle"> </ion-icon>
</ion-fab-button>

</ion-fab>

</ion-content>
