<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Citas Medicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Registre</h3>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="citasMed.nombrePaciente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="citasMed.correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sintomas</ion-label>
    <ion-textarea placeholder="Enter more information here..." [(ngModel)]="citasMed.sintomas"></ion-textarea>
  </ion-item>


<ion-item>
  <ion-button color="dark" (click)="guardarCitaMedica()">Enviar</ion-button>
</ion-item>

</ion-content>
