<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Registro Paciente </ion-title>
    </ion-toolbar>
</ion-header>

<!--Registro de Pacientes desde el Admin-->
<ion-content class="ion-padding">

    <form #crarCitaForm="ngForm" (ngSubmit)="onSubmitTemplate()">

        <ion-list>

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]=" paci.nombres" placeholder="Nombres" type="text" name="nombres"></ion-input>
            </ion-item>
            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]=" paci.apellidos" placeholder="Apellidos" type="text" name="apellidos">
                </ion-input>
            </ion-item>

            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]=" paci.cedula" placeholder="Cédula" type="number" name="cedula"></ion-input>
            </ion-item>

            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item>
                <ion-input [(ngModel)]=" paci.fechaNac" type="date" name="fechaNac"></ion-input>
            </ion-item>

            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="call-outline"></ion-icon>
                <ion-input [(ngModel)]=" paci.telefono" placeholder="Teléfono" type="number" name="telefono">
                </ion-input>
            </ion-item>

            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="mail-outline"></ion-icon>
                <ion-input [(ngModel)]=" paci.email" placeholder="Email" type="email" name="email"></ion-input>
            </ion-item>

            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="lock-closed-outline"></ion-icon>
                <ion-input [(ngModel)]=" paci.contrasena" placeholder="Contraseña" type="password" name="contrasena">
                </ion-input>
            </ion-item>

        </ion-list>

            &nbsp;
            &nbsp;
            &nbsp;

            
        </form>
        
        <ion-button start expand="fill" color="primary" type="submit" routerLink="/admin-ver-paciente">Registrar</ion-button>
        <ion-button  end expand="fill" color="danger" righ routerLink="/inicio-admin">Cancelar</ion-button>
</ion-content>