<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title ><ion-icon name="information-outline"></ion-icon>Política</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-title style="text-align: center;" > <ion-icon name="filter-circle-outline"></ion-icon><b>Politica de privacidad</b></ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <p >
        El presente Política de Privacidad establece los términos en que MediCity 
        usa y protege la información que es proporcionada por sus usuarios al momento de 
        utilizar nuestra app. Esta compañía está comprometida con la seguridad de los datos 
        de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual 
        usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los 
        términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo 
        o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para
         asegurarse que está de acuerdo con dichos cambios.
      </p>

    </ion-item>

    <ion-toolbar>
      <ion-title style="text-align: center;"> <ion-icon name="filter-circle-outline"></ion-icon><b>Informaccion recogida</b></ion-title>
    </ion-toolbar>

    <ion-item>
      <p >
        Nuestra app podrá recoger información personal por ejemplo: Nombre,  
        información de contacto como  su dirección de correo electrónica e 
        información demográfica. Así mismo cuando sea necesario podrá ser requerida información 
        específica para procesar una cita.
    </p>

    </ion-item>

    <ion-toolbar>
      <ion-title style="text-align: center;"><ion-icon name="filter-circle-outline"></ion-icon> <b>Uso de informaccion recogida</b></ion-title>
    </ion-toolbar>

    <ion-item>
      <p >
        Nuestra app emplea la información con el fin de proporcionar el mejor servicio posible, 
        particularmente para mantener un registro de usuarios, de citas medicas en caso que aplique, y 
        mejorar nuestros servicios.

      MediCity está altamente comprometido para cumplir con el compromiso de mantener su información segura. 
      Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún 
      acceso no autorizado.

      MediCity Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
      </p>

    </ion-item>
    
  </ion-list>

</ion-content>
