<ion-header class="ion-no-border">

</ion-header>
<div linespace></div>
<ion-content class="ion-padding">
  <div class="center">

    <ion-label style="text-align: center;">
      <ion-img src="https://www.kronosalud.com/wp-content/uploads/2019/09/Registro-medico-premium-logo-png.png"
        height='10' width='10'></ion-img>
    </ion-label>
    <ion-item transparent>
      <ion-icon slot="start" icon-small name="people-outline"></ion-icon>
      <ion-input [(ngModel)]="user.email" placeholder="Email" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input [(ngModel)]="user.contrasena" placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <div linespace></div>
    &nbsp;
    &nbsp;
    &nbsp;
    <ion-button (click)="login()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large"
      expand="block">INICIAR SESIÓN</ion-button>
    <br><br>
    <ion-label class="ion-text-center">¿No tienes una cuenta?
      <span class="link-buttom" routerLink="/registro">
        <strong>Regístrarse</strong></span>
    </ion-label>
    <br><br>
    <ion-label class="ion-text-center">¿Eres un medico?
      <span class="link-buttom" routerLink="/iniciarsesion-medicos">
        <strong>Iniciar</strong></span>
    </ion-label>
    <br><br>
    <ion-icon  name="alert-circle-outline" routerLink="/politica-privacidad" class="ion-1x"></ion-icon>
    <ion-label style="color:rgb(75, 130, 233);"> <b>Politica de privacidad</b></ion-label>
    <br><br>
    <ion-icon  name="alert-circle-outline" routerLink="/anonimo-listar-espe" class="ion-1x"></ion-icon>
    <ion-label style="color:rgb(75, 130, 233);"> <b>Especialidades</b></ion-label>
    <br><br>
  </div>
</ion-content>