<ion-header>
    <ion-toolbar color="primary">
        <ion-title routerLink="/inicio-admin"> Listar Médicos</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Buscar Medico...!!!!" animated (ionChange)="buscar($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let med of medicoo  | async | medico:palabra">
            <ion-card>
                <ion-button expandable (click)="eliminarMedico(med.uid)" >  
                    <ion-icon name="person-remove-outline"></ion-icon>
                </ion-button>
            <ion-label (click)="editaMedicoById(med.uid)">
                <ion-img size="small" src="{{med.foto}}"></ion-img>
                <h2>{{med.nombre + ' ' + med.apellido}}</h2>
                    <h3>{{med.especialidad}}</h3>
                    <h3>{{med.telefono}}</h3>
                    <h3>{{med.email}}</h3>
                </ion-label>
            </ion-card>
        </ion-item-sliding>

    </ion-list>


</ion-content>


<ion-fab horizontal="end" vertical="bottom" routerLink="/admin-crear-medico">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>