<ion-header>
  <ion-toolbar class="ion-no-border" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Bienvenido Usuario</ion-card-title>
        <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-card *ngIf="paciente">
    <h1>Informacion Personal</h1>
    <ion-item transparent>
      <ion-icon icon-small name="person-outline"></ion-icon>
      <ion-input [(ngModel)]="paciente.data.cedula" placeholder="Cédula" type="number"></ion-input>
  </ion-item>
  <ion-item transparent>
      <ion-icon icon-small name="person-outline"></ion-icon>
      <ion-input [(ngModel)]="paciente.data.nombres" placeholder="Nombres" type="text"></ion-input>
  </ion-item>
  <ion-item transparent>
    <ion-icon icon-small name="person-outline"></ion-icon>
    <ion-input [(ngModel)]="paciente.data.apellidos" placeholder="Apellidos" type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Fecha de nacimiento</ion-label>
    <ion-input [(ngModel)]="paciente.data.fechaNac" type="date"></ion-input>
</ion-item>
<ion-item transparent>
    <ion-icon icon-small name="call-outline"></ion-icon>
    <ion-input [(ngModel)]="paciente.data.telefono" placeholder="Teléfono" type="number"></ion-input>
</ion-item>
<ion-item transparent>
  <ion-icon icon-small name="mail-outline"></ion-icon>
  <ion-input [(ngModel)]="paciente.data.email" placeholder="Email" type="email"></ion-input>
</ion-item>
<ion-item transparent>
  <ion-icon icon-small name="lock-closed-outline"></ion-icon>
  <ion-input [(ngModel)]="paciente.data.contrasena" placeholder="Contraseña" type="password"></ion-input>
</ion-item>
<ion-item transparent>
  <ion-icon icon-small name="lock-closed-outline"></ion-icon>
  <ion-input placeholder="Repetir contraseña" type="password"></ion-input>
</ion-item>
<ion-button (click)="registrar()" color="secondary" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">Editar</ion-button>


    
  </ion-card>
</ion-content>