<ion-menu side="start" menuId="menuAdmin" contentId="admin">
    <ion-header>
        <ion-toolbar>
            <ion-title>Administrador</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">



        <ion-list>
        
            <ion-menu-toggle>

                <ion-item routerLink="/admin-ver-paciente">
                    <ion-icon slot="start" name="people-outline">
                    </ion-icon>Pacientes
                </ion-item>

                <ion-item routerLink="/admin-ver-medico">
                    <ion-icon slot="start" name="bandage-outline">
                    </ion-icon>Médicos
                </ion-item>

            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>



<ion-header>
    <ion-toolbar class="ion-no-border" color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="menuAdmin"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
       
         
           <ion-button slot="end" (click) ="cerrarSesionAdmin()">
            <ion-icon slot="end" name="log-out-outline"></ion-icon>
               
            </ion-button>
       
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <img [src]="admin.data.img" *ngIf="admin.data.img" />
      <ion-card-header>
          <ion-card-subtitle>Bienvenido Administrador</ion-card-subtitle>
          <ion-card-title>{{admin.data.nombres + ' ' + admin.data.apellidos}}</ion-card-title>
      </ion-card-header>


      <ion-card-content>
          <strong>Fecha de nacimiento:</strong> {{admin.data.fechaNac}} <br>
          <strong>Email:</strong> {{admin.data.email}} <br>
      </ion-card-content>

  </ion-card>
    <div class="buttom-action">
        <ion-button routerLink="/admin-crear-medico" fill="clear" color="light-blue" size="small">
          <ul>
            <li class="signup-text"> Registrar Medico</li>
          </ul>
        </ion-button>
        
        <ion-button routerLink="/admin-ver-med" fill="clear" color="light-blue"size="small">
          <ul>
            <li class="signup-text"> Listar Medicos</li>
          </ul>
        </ion-button>


        <ion-button routerLink="/admin-crear-paciente" fill="clear" color="light-blue" size="small">
          <ul>
            <li class="signup-text"> Registrar Paciente</li>
          </ul>
        </ion-button>

        <ion-button routerLink="/admin-ver-paciente" fill="clear" color="light-blue"size="small">
          <ul>
            <li class="signup-text"> Listar Paciente</li>
          </ul>
        </ion-button>
      </div>



      <ion-card>

        <ion-card-content>
          <ion-img src = "{{admin.data.foto}}"  height= '50' width = '120'></ion-img>
        </ion-card-content>
        
      </ion-card>




    
</ion-content>