<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title routerLink="/inicio-admin">Lista de Pacientes</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Buscar Paciente...!!!" animated (ionChange)="buscarPacientesAdmin($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>

        <ion-item-sliding *ngFor="let pa of pacientee | async | paciente:busqueda">
            <ion-card>
                <ion-button expandable (click)="eliminarPaciente(pa.uid)" >  
                    <ion-icon name="person-remove-outline"></ion-icon>
                </ion-button>

                <ion-label (click)="editaPacienteById(pa.uid)">
                    <h2>{{pa.nombres + ' ' + pa.apellidos}}</h2>
                    <h3>{{pa.cedula}}</h3>
                    <h3>{{pa.estado}}</h3>
                    <h3>{{pa.descripcion}}</h3>
                    <h3>{{pa.email}}</h3>
                    <h3>{{pa.telefono}}</h3>
                </ion-label>





                <ion-item-options side="end">
                    <ion-item-option color="danger" expandable (click)="eliminarPaciente(pa)">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-card>
        </ion-item-sliding>

    </ion-list>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" routerLink="/admin-crear-paciente">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>