<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Citas concluidas</ion-card-title>
      </ion-card-header>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item *ngFor="let cita of citas | async">
    <ion-text color="primary">
      <h6><b>Fecha:{{cita.fecha}}</b></h6>
      <h6>Hora:{{cita.hora}}</h6>
      <h6>Email del paciente:{{cita.paciente.data.email}}</h6>
      <h6>Cedula del paciente:{{cita.paciente.data.cedula}}</h6>
      <h6>Nombres:{{cita.paciente.data.nombres}}</h6>
      <h6>Apellidos:{{cita.paciente.data.apellidos}}</h6>
      <h6>Telefono:{{cita.paciente.data.telefono}}</h6>
      <h6>Sintomas:{{cita.sintomas}}</h6>
      <h6>Correo medico:{{cita.medico.email}}</h6>
    </ion-text>
  </ion-item>


</ion-content>