<ion-header>
  <ion-toolbar>
    <ion-title>confirmacionmensaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  confirmacion  mmm...

  <div *ngIf="citasMed">
    saludo {{citasMed.nombrePaciente}}

  </div>


</ion-content>
