<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title>Editar Médico</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #EditarMedico="ngForm"   (ngSubmit)="editar()">

        <ion-list>

            <ion-item transparent >
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="medico.nombre" placeholder="Nombres" type="text" name="nombres">
                </ion-input>
            </ion-item>

            
        &nbsp;
        &nbsp;
        &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="medico.apellido" placeholder="Apellidos" type="text" name="apellidos">
                </ion-input>
            </ion-item>

        &nbsp;
        &nbsp;
        &nbsp;

            <ion-item>
                <ion-icon slot= "start" name="calendar-outline"></ion-icon>
                <ion-input [(ngModel)]="medico.fechaNac" type="date" name="fechaNac"></ion-input>
            </ion-item>

            &nbsp;
            &nbsp;
            &nbsp;

            <ion-item transparent>
                <ion-icon slot="start" icon-small name="call-outline"></ion-icon>
                <ion-input [(ngModel)]="medico.telefono" placeholder="Teléfono" type="number" name="telefono">
                </ion-input>
            </ion-item>

            
        &nbsp;
        &nbsp;
        &nbsp;
        
            <ion-item transparent>
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                <ion-input [(ngModel)]="medico.email" placeholder="Email" type="mail" name="apellidos">
                </ion-input>
            </ion-item>

            
        </ion-list>

        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;

        <ion-button expand="center" color="primary" class="ion-align-items-center" type="submit" routerLink="/admin-ver-medico">Guardar</ion-button>
        

    </form>

</ion-content>