<ion-app>
  
    
  <ion-content>
  
    <ion-list id="labels-list">
      <ion-list-header>Labels </ion-list-header>

      <ion-item *ngFor="let label of labels" lines="none">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>{{ label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

<ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>

