<ion-header>
  <ion-toolbar class="ion-no-border" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Bienvenido Usuario</ion-card-title>
        <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

  <div class="list-group">
    <div class="d-flex w-100 justify-content-between">
      <ion-list>
        <ion-list-header>
          Facturas
        </ion-list-header>
        <ion-card *ngFor="let pacienteFac of facturaPaciente | async">
            
          <ion-card-content (click)="detalleContacto(medico)">
            <h2>Nombre: </h2>
            <div class="card-title">{{pacienteFac.pasopm.paciente.data.nombres}} {{pacienteFac.pasopm.paciente.data.apellidos}} </div>
            <div class="card-title"> {{pacienteFac.pasopm.paciente.data.cedula}} </div>
            <div class="card-subtitle">Precio: {{pacienteFac.precio}} </div>
            <div class="card-subtitle">concepto: {{pacienteFac.concepto}}</div>

            <div class="card-subtitle">Subtotal: {{pacienteFac.subtotal}}</div>
            <div class="card-subtitle">Total: {{pacienteFac.total}}</div>

        </ion-card-content>
      
        </ion-card>
       

      </ion-list>


    </div>

  </div>
  
</ion-content>
