<ion-menu menuId="main-menu" content-id="main">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title> Opciones </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-border">
    <ion-list>

      <ion-menu-toggle>
        <ion-button expand="full" style="text-align: center;" color="primary" (click)="EditarCuenta()">
          <ion-icon name="person" slot="start"></ion-icon>Cuenta
        </ion-button>
        <ion-button expand="full" style="text-align: center;" color="primary" (click)="CitasConcluidas(cita)">
          <ion-icon name="person" slot="start"></ion-icon>Citas concluidas
        </ion-button>
        <ion-button expand="full" style="text-align: center;" color="primary" (click)="FacturaPaciente(cita)">
          <ion-icon name="person" slot="start"></ion-icon>Facturar
        </ion-button>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>


<ion-header>
  <ion-toolbar class="ion-no-border" color="primary" >
    <ion-buttons slot="start" color="danger">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-card-header>
        <ion-card-title>Estimado/a:{{medico.nombre}} {{medico.apellido}}</ion-card-title>
      </ion-card-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="close-circle-outline" routerLink="/login"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-item>
    <ion-img src="{{medico.foto}}" height='60' width='60' style="align-items: center" class="center"></ion-img>
  </ion-item>

  <ion-item>
   <ion-text color="primary" class="center"><b>Citas</b></ion-text>
  </ion-item>

  <ion-item *ngFor="let cita of citas | async">
    <ion-text color="primary" >
      <h6><b>Fecha:{{cita.fecha}}</b></h6>
      <h6>Hora:{{cita.hora}}</h6>
      <h6>Email del paciente:{{cita.paciente.data.email}}</h6>
      <h6>Cedula del paciente:{{cita.paciente.data.cedula}}</h6>
      <h6>Nombres:{{cita.paciente.data.nombres}}</h6>
      <h6>Apellidos:{{cita.paciente.data.apellidos}}</h6>
      <h6>Telefono:{{cita.paciente.data.telefono}}</h6>
      <h6>Sintomas:{{cita.sintomas}}</h6>
      <section>
        <ion-button (click)="recetaralPaciente(cita)" color="primary">Recetar</ion-button>
        <ion-button (click)="RechazarCita(cita)" color="primary">Rechazar cita</ion-button>
      </section>
     
    </ion-text>
  </ion-item>

</ion-content>