<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Doctor/a</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item-sliding class="ion-padding" *ngFor="let contacto of medicos | async">
    <ion-item>
     <!-- contacto.iud  para solo sacar el codigo  
     solo contacto para sacar todo el objeto-->
     <ion-label (click)="editaContacto2ById(contacto.uid)">
       <p>Nombres:{{contacto.nombre}}</p>
       <p>Apellidos:{{contacto.apellido}}</p>
       <p>Email:{{contacto.email}}</p>
       <p>Especialidad:{{contacto.especialidad}}</p>
       <p>Descripcion:{{contacto.descripcion}}</p>
       <p>Telefono:{{contacto.telefono}}</p>
       <p>Contraseña:{{contacto.contrasena}}</p>
       <p>Estado civil:{{contacto.estadoCivil}}</p>
       <p>Cedula:{{contacto.cedula}}</p>
       <p>Fecha nacimiento:{{contacto.fechaNac}}</p>
     </ion-label>
     </ion-item>

     <ion-item-options>
       <ion-item-option color="primary" (click)="editarContacto(contacto)">
         <ion-icon slot="start" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
         More
       </ion-item-option>
      
     </ion-item-options>

   </ion-item-sliding>

</ion-content>
