<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Paciente</ion-card-title>
      </ion-card-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item transparent>
    <ion-label>
      <b>Paciente:{{paso.paciente.data.nombres}} {{paso.paciente.data.apellidos}}</b>
    </ion-label>
  </ion-item>

  <ion-item transparent>
    <ion-label>
      <b>Factura:</b>
    </ion-label>
  </ion-item>

  <ion-item transparent>
    <ion-label>Concepto:</ion-label>
    <ion-input [(ngModel)]="factura.concepto"  type="text" value="{{paso.sintomas}}">{{paso.sintomas}}</ion-input>
  </ion-item>

  <ion-item transparent>
    <ion-label>Precio:</ion-label>
    <ion-input [(ngModel)]="factura.precio" type="number"></ion-input>
  </ion-item>

  <ion-item transparent>
    <ion-label>Subtotal:</ion-label>
    <ion-input [(ngModel)]="factura.subtotal" type="number" value="{{factura.precio}}">0.00</ion-input>
  </ion-item>

  <ion-item transparent>
    <ion-label>Iva: 12%</ion-label>
    <ion-label>{{factura.precio*0.12}}</ion-label>
  </ion-item>

  <ion-item transparent>
    <ion-label>Total:</ion-label>
    <ion-input [(ngModel)]="factura.total" type="number" value="{{factura.precio*0.12+factura.precio}}">0.00</ion-input>
  </ion-item>

  <section>
    <ion-button (click)="Voyafacturar()" color="primary">Facturar</ion-button>
  </section>

</ion-content>