<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>
<div linespace></div>

<ion-content class="ion-padding">
  <div class="center">
    <div class="buttom-action">
    </div>
    <ion-label style="text-align: center;">
      
    </ion-label>
    <ion-label style="text-align: center;">
      <ion-img src="https://images-na.ssl-images-amazon.com/images/I/51Ew-DfgvFL._AC_SX355_.jpg" height='10' width='10'></ion-img>
    </ion-label>
    <ion-item transparent>
      <ion-icon icon-small name="people-outline"></ion-icon>
      <ion-input [(ngModel)]="email" placeholder="Usuario" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon icon-small name="lock-closed-outline"></ion-icon>
      <ion-input [(ngModel)]="contrasena" placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <div linespace></div>

    <ion-button (click)="login()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large"
      expand="block">LOGIN</ion-button>


      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="regresar()">
          <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    
  </div>
</ion-content>