<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Editar paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #EditarPacienteForm="ngForm" (ngSubmit)="editarPac()">

      <ion-list>

          <ion-item transparent>
              <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
              <ion-input [(ngModel)]="paciente.nombres" placeholder="Nombres" type="text" name="nombres"></ion-input>
            </ion-item>
            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="paciente.apellidos" placeholder="Apellidos" type="text" name="apellidos"></ion-input>
            </ion-item>
            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="paciente.cedula" placeholder="Cédula" type="number" name="cedula"></ion-input>
            </ion-item>
          <ion-item>
              <ion-label>Fecha de nacimiento</ion-label>
              <ion-input [(ngModel)]="paciente.fechaNac" type="date" name="fechaNac"></ion-input>
          </ion-item>
          <ion-item transparent>
              <ion-icon slot="start" icon-small name="call-outline"></ion-icon>
              <ion-input [(ngModel)]="paciente.telefono" placeholder="Teléfono" type="number" name="telefono"></ion-input>
          </ion-item>
         
         

      </ion-list>

      <ion-button expand="full" color="primary" type="submit" routerLink="/admin-ver-paciente">Guardar</ion-button>
      
    </form>
    

</ion-content>