<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Receta medica</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-list-header>
      <b>Informacion de paciente:</b>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre de paciente:{{paso.paciente.data.nombres}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos de paciente:{{paso.paciente.data.apellidos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cedula de paciente:{{paso.paciente.data.cedula}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono de paciente:{{paso.paciente.data.telefono}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email de paciente:{{paso.paciente.data.email}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <b>Informacion de cita:</b>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha:{{paso.fecha}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hora:{{paso.hora}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sintomas:{{paso.sintomas}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <b>Informacion del doctor :</b>
    </ion-list-header>
    <ion-item>
      <ion-img src="{{paso.medico.foto}}" height='60' width='60'></ion-img>
    </ion-item>
    <ion-item>
      <ion-label>Nombre de doctor:{{paso.medico.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido de doctor:{{paso.medico.apellido}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cedula de doctor:{{paso.medico.cedula}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono de doctor:{{paso.medico.telefono}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email de doctor:{{paso.medico.email}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label><b>Receta medica:</b></ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item transparent>
      <ion-label>Fecha:</ion-label>
      <ion-input [(ngModel)]="receta.fecha" placeholder="Fecha" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{receta.fecha.substr(0,10)}}</ion-label>
    </ion-item>
    <ion-item transparent>
      <ion-label>Peso:</ion-label>
      <ion-input [(ngModel)]="receta.peso" placeholder="peso" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-label>Talla:</ion-label>
      <ion-input [(ngModel)]="receta.talla" placeholder="talla" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Rp:</ion-label>
      <ion-input [(ngModel)]="receta.rp" placeholder="rp" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="receta.diagnostico" placeholder="Escribe aqui el diagnostico..." type="text" rows="10" ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Medicamento:</ion-label>
      <ion-input [(ngModel)]="receta.medicamento" placeholder="medicamento" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button color="primary" (click)="guardarReceta(paso)">Guardar Receta</ion-button>
    </ion-item>

  </ion-list>

</ion-content>