<ion-menu menuId="main-menu" content-id="main">

  <ion-header>
    <ion-toolbar>
      <ion-title> Paciente </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-border">
    <ion-list>

      <ion-menu-toggle>
        <ion-item routerLink="/informacion-personal">
          <ion-icon slot="start" name="home-outline"></ion-icon>Informacion Personal
        </ion-item>
        <ion-item routerLink="/factura-paciente">
          <ion-icon slot="start" name="cash-outline"></ion-icon>Facturas
        </ion-item>
        <ion-item routerLink="/recervar-cita-medica">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>Citas
        </ion-item>
        <ion-item routerLink="/ver-receta">
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>Receta
        </ion-item>
       
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>


<ion-header>
  <ion-toolbar class="ion-no-border" color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-card-header>
        <ion-card-title>Bienvenido Usuario</ion-card-title>
        <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>
<div>
  <ion-header class="ion-padding">
    <ion-slides pager="true">
      <ion-slide *ngFor="let slide of slides">
        <ion-img [src]="slide.img"> </ion-img>
      </ion-slide>
    </ion-slides>

  </ion-header>
</div>
<ion-content class="ion-padding">


  <div class="list-group">
    <div class="d-flex w-100 justify-content-between">
      <ion-list>
        <ion-list-header>
          Lista de Medicos
        </ion-list-header>

        <ion-card *ngFor="let medico of medicos | async">
          <ion-card-content (click)="detalleContacto(medico)">
            <div class="card-title">Nombre: {{medico.nombre}} </div>
            <div class="card-subtitle">Descripcion: {{medico.descripcion}}</div>
            <div class="card-subtitle">Especialidad: {{medico.especialidad}}</div>
            <div class="card-subtitle">Email: {{medico.email}}</div>

          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small color="light">
                <ion-icon name="thumbs-up"></ion-icon>

              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small color="light">
                <ion-icon name="eye"></ion-icon>

              </button>
            </ion-col>
            <ion-col center text-center>
              <button ion-button icon-left clear small color="light">
                <ion-icon name="locate"></ion-icon>

              </button>
            </ion-col>




          </ion-row>


        </ion-card>
      </ion-list>


    </div>

  </div>


</ion-content>