<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Receta Medica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Registre</h3>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="recetaMed.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-input [(ngModel)]="recetaMed.fecha"></ion-input>
  </ion-item>

  
    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input [(ngModel)]="recetaMed.peso"></ion-input>
    </ion-item>



      <ion-item>
        <ion-label position="floating">Talla</ion-label>
        <ion-input [(ngModel)]="recetaMed.talla"></ion-input>
      </ion-item>

      <ion-item>

    <ion-label position="floating">Rp</ion-label>
    <ion-textarea placeholder="Enter more information here..." [(ngModel)]="recetaMed.rp"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Diagnostico</ion-label>
    <ion-textarea placeholder="Enter more information here..." [(ngModel)]="recetaMed.diagnostico"></ion-textarea>
  </ion-item>

<ion-item>
  <ion-button color="dark" (click)="guardarRecetaMedica()">Enviar</ion-button>
</ion-item>
</ion-content>


