<ion-header class="ion-no-border">
   
</ion-header>
<ion-content class="ion-padding">
    <div class="registro">

      <div class="buttom-action">
       
        <ion-button fill="clear" color="dark" size="small">
            <b><p class="signup-text">Editar Medico</p></b>
        </ion-button>
    </div>

        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="persona.cedula" placeholder="Cédula" type="number"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="persona.nombre" placeholder="Nombres" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="persona.apellido" placeholder="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-input [(ngModel)]="persona.fechaNac" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [(ngModel)]="persona.email" type="text"></ion-input>
      </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="call-outline"></ion-icon>
            <ion-input [(ngModel)]="persona.telefono" placeholder="Teléfono" type="number"></ion-input>
        </ion-item>
        <ion-item transparent>
          <ion-icon icon-small name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="persona.contrasena" placeholder="Contraseña" type="password"></ion-input>
      </ion-item>
        <ion-item>
            <ion-label>Estado Civil</ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="persona.estadoCivil">
                <ion-select-option value="Soltero">Soltero</ion-select-option>
                <ion-select-option value="Casado">Casado</ion-select-option>
                <ion-select-option value="Divorciado">Divorciado</ion-select-option>
            </ion-select>
        
        </ion-item>

        <ion-item transparent>
          <ion-icon icon-small name="bookmarks-outline"></ion-icon>
          <ion-input [(ngModel)]="persona.especialidad" placeholder="Especialidad" type="text"></ion-input>
      </ion-item>

      <ion-item transparent>
        <ion-icon icon-small name="clipboard-outline"></ion-icon>
        <ion-input [(ngModel)]="persona.descripcion" placeholder="Descripcion" type="text"></ion-input>
    </ion-item>

        <ion-button (click)="registrarEditarMedico()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">Registrar</ion-button>
       </div>
</ion-content>