<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Rechazar cita</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item transparent>
    <ion-text color="primary" class="center"><b>Motivo de Rechazo</b></ion-text>
   </ion-item>

  <ion-item transparent>
    <ion-textarea [(ngModel)]="rechazo.motivo" type="text" placeholder="Escribe el motivo de rechazo de cita" rows="10" ></ion-textarea>
  </ion-item>

  <section>
    <ion-button (click)="RechazarCita()" color="primary">Rechazar cita</ion-button>
  </section>

</ion-content>
