<ion-header>
  <ion-toolbar class="ion-no-border" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-card-header>
        <ion-card-title>Bienvenido Usuario</ion-card-title>
        <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
      </ion-card-header>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-card *ngIf="medico">
    <ion-title>Medico {{medico.nombre}} {{medico.apellido}} </ion-title>
    <ion-card-content (click)="detalleContacto(medico)">

      <ion-img src="{{medico.foto}}" height='60' width='120'></ion-img>
      <h2>Descripcion:</h2>
      <div class="card-subtitle">{{medico.descripcion}}</div>
      <h2>Especialidad:</h2>

      <div class="card-subtitle">{{medico.especialidad}}</div>

      <h2>Correo:</h2>
      <div class="card-subtitle">{{medico.email}}</div>
      <h2>Telefono:</h2>
      <div class="card-subtitle">{{medico.telefono}}</div>

    </ion-card-content>

    <ion-item transparent>
      <ion-icon icon-small name="calendar-outline"></ion-icon>
      <ion-input [(ngModel)]="cita.fecha"  placeholder="Fecha" type="date"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-label>Hora</ion-label>
      
      <ion-select ok-text="Ok"  cancel-text="Cancelar" (click)="horarios($event)"   [(ngModel)]="cita.hora" name="hora">
          <ion-select-option  value="09:00">09:00</ion-select-option>
          <ion-select-option  value="10:00">10:00</ion-select-option>
          <ion-select-option  value="11:00">11:00</ion-select-option>
          <ion-select-option  value="12:00">12:00</ion-select-option>
          <ion-select-option  value="13:00">13:00</ion-select-option>
          <ion-select-option  value="14:00">14:00</ion-select-option>
          <ion-select-option  value="15:00">15:00</ion-select-option>
          <ion-select-option  value="16:00">16:00</ion-select-option>
          <ion-select-option  value="17:00">17:00</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sintomas</ion-label>
    <ion-textarea [(ngModel)]="cita.sintomas" type="text" name="observaciones" placeholder="Escriba sus sintomas aqui..." rows="10"></ion-textarea>
</ion-item>

    <div>
      <h1>{{ title }}</h1>
      <agm-map [latitude]="lat" [longitude]="lng">

        <div *ngFor="let dir of medicosLis | async">
          <div *ngIf="dir.direccion">
            <agm-marker [latitude]="dir.direccion.latitude" [longitude]="dir.direccion.longitude"
              [iconUrl]="'https://cdn2.iconfinder.com/data/icons/bitsies/128/Location-48.png'">

              <agm-info-window>Doctor {{dir.nombre}}</agm-info-window>

            </agm-marker>
          </div>

        </div>



      </agm-map>


    </div>

    <ion-item>
      <ion-button color="secondary" (click)="recervar(medico)">Recervar Cita</ion-button>
    </ion-item>



  </ion-card>
</ion-content>