<ion-header class="ion-no-border">
   
</ion-header>
<ion-content class="ion-padding">
    <div class="registro">
       
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="paciente.cedula" placeholder="Cédula" type="number"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="paciente.nombres" placeholder="Nombres" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="paciente.apellidos" placeholder="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-input [(ngModel)]="paciente.fechaNac" type="date"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="call-outline"></ion-icon>
            <ion-input [(ngModel)]="paciente.telefono" placeholder="Teléfono" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Tipo de sangre</ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="paciente.tipoSangre">
                <ion-select-option value="A+">A+</ion-select-option>
                <ion-select-option value="B+">B+</ion-select-option>
                <ion-select-option value="O+">O+</ion-select-option>
                <ion-select-option value="AB+">AB+</ion-select-option>
                <ion-select-option value="A-">A-</ion-select-option>
                <ion-select-option value="B-">B-</ion-select-option>
                <ion-select-option value="O-">O-</ion-select-option>
                <ion-select-option value="AB-">AB-</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Estado Civil</ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="paciente.estadoCivil">
                <ion-select-option value="Soltero">Soltero</ion-select-option>
                <ion-select-option value="Casado">Casado</ion-select-option>
                <ion-select-option value="Divorciado">Divorciado</ion-select-option>
            </ion-select>
        
        </ion-item>
        
        <ion-label>Direccion</ion-label>

         <div>

            <agm-map [latitude]="lat" [longitude]="lng" (centerChange)="setNewLocation($event)">
              <agm-marker [latitude]="newLocation.latitude" [longitude]="newLocation.longitude" [iconUrl]="'https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/48/Map-Marker-Ball-Azure.png'" >
                <agm-info-window>{{newLocation.address}}</agm-info-window>
              </agm-marker>
            
            </agm-map>
   
          </div>
        <ion-item transparent>
            <ion-icon icon-small name="mail-outline"></ion-icon>
            <ion-input [(ngModel)]="paciente.email" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="paciente.contrasena" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Repetir contraseña" type="password"></ion-input>
        </ion-item>
        <div linespace></div>

        <ion-button (click)="registrar()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">Registrarme</ion-button>
        <ion-label class="ion-text-center">Ya tengo una cuenta <span class="link-buttom"><strong>Iniciar Sesión</strong></span></ion-label>
    </div>
</ion-content>